<h2>Update Your Profile</h2>

{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color:red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}

    {% if request.user.role == "customer" %}
        <label>First Name:</label>
        <input type="text" name="firstName" value="{{ User.first_Name }}" required><br>

        <label>Last Name:</label>
        <input type="text" name="lastName" value="{{ User.last_Name  }}" required><br>

        <label>Address:</label>
        <input type="text" name="address" value="{{ profile.address }}" required><br>

        <label>Phone:</label>
        <input type="text" name="phone" value="{{ User.phone_number }}"><br>

    {% elif request.user.role == "driver" %}
        <label>First Name:</label>
        <input type="text" name="firstName" value="{{ User.first_Name }}" required><br>

        <label>Last Name:</label>
        <input type="text" name="lastName" value="{{ User.last_Name }}" required><br>

        <label>Vehicle Type:</label>
        <input type="text" name="vehicle_type" value="{{ profile.vehicle_type }}"><br>

        <label>Vehicle Number:</label>
        <input type="text" name="vehicle_number" value="{{ profile.vehicle_number }}"><br>

        <label>License Number:</label>
        <input type="text" name="license_number" value="{{ profile.license_number }}"><br>

        <label>Phone:</label>
        <input type="text" name="phone" value="{{ User.phone_number }}"><br>
    {% endif %}

    <button type="submit">Save</button>
</form>
