{% extends 'customer/base.html' %}

{% load socialaccount %}
{% load static %}

<script src="{% static 'js/main.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'cs/main.css' %}" />
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootsrap.min.css" />

{% block content %}

{% for message in messages %}
<div class="message text-center alert alert-info {{ message.tags }}">
    {{ message }}
</div>
{% endfor %}


<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Bulk Delivery Services</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Book a Delivery!</h2>
            <!--<button id = 'openBook' class="btn btn-outline-primary">Book Now!</button>
            <button onclick="myFunction()">Click me!</button>-->
        </div>
    </div>
</div>
{% endblock content %}
